<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div id="wrapper" th:fragment="adminMeunuFragment">

    <aside id="aside-main" class="aside-start aside-hide-xs bg-white shadow-sm d-flex flex-column px-2 h-auto">

        <!-- sidebar : navigation -->
        <div class="aside-wrapper scrollable-vertical scrollable-styled-light align-self-baseline h-100 w-100">

            <nav class="nav-deep nav-deep-sm nav-deep-light js-ajaxified">
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link" href="main">
                            <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"></path>
                                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"></path>
                            </svg>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="location.href='/admin/savePortfolioList'">
                            <svg width="18px" height="18px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                <path fill-rule="evenodd" d="M3 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3z"></path>
                                <path d="M13 3V2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1z"></path>
                            </svg>
                            <span>Portfolio 등록</span>
                            <span class="group-icon float-end">
                          <i class="fi fi-arrow-end"></i>
                          <i class="fi fi-arrow-down"></i>
                        </span>
                        </a>

                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                            <span class="group-icon float-end">
                              <i class="fi fi-arrow-end"></i>
                              <i class="fi fi-arrow-down"></i>
                            </span>
                                    Ecommerce
                                </a>
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link" href="page-ecommerce-product-list.html">Product list</a></li>
                                    <li class="nav-item"><a class="nav-link" href="page-ecommerce-product-reviews.html">Product reviews</a></li>
                                    <li class="nav-item"><a class="nav-link" href="page-ecommerce-order-list.html">Order list</a></li>
                                    <li class="nav-item"><a class="nav-link" href="page-ecommerce-order-detail.html">Order detail</a></li>
                                    <li class="nav-item"><a class="nav-link" href="page-ecommerce-invoice.html">Invoice</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                            <span class="group-icon float-end">
                              <i class="fi fi-arrow-end"></i>
                              <i class="fi fi-arrow-down"></i>
                            </span>
                                    Users
                                </a>
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link" href="page-user-customer-list.html">Customer list</a></li>
                                    <li class="nav-item"><a class="nav-link" href="page-user-customer-add.html">Customer add</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                            <span class="group-icon float-end">
                              <i class="fi fi-arrow-end"></i>
                              <i class="fi fi-arrow-down"></i>
                            </span>
                                    Account
                                </a>
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link" href="page-account-profile.html">Profile</a></li>
                                    <li class="nav-item"><a class="nav-link" href="page-account-settings.html">Settings</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                            <span class="group-icon float-end">
                              <i class="fi fi-arrow-end"></i>
                              <i class="fi fi-arrow-down"></i>
                            </span>
                                    Generic
                                </a>
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link" href="page-generic-pricing.html">Pricing</a></li>
                                    <li class="nav-item"><a class="nav-link" href="page-generic-faq.html">FAQ</a></li>
                                    <li class="nav-item"><a class="nav-link" href="page-generic-contact.html">Contact</a></li>
                                    <li class="nav-item"><a class="nav-link" href="page-generic-forum.html">Forum</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                            <span class="group-icon float-end">
                              <i class="fi fi-arrow-end"></i>
                              <i class="fi fi-arrow-down"></i>
                            </span>
                                    Utility
                                </a>
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link" href="page-util-maintenance.html">Maintenance</a></li>
                                    <li class="nav-item"><a class="nav-link" href="page-util-404.html">404 Error</a></li>
                                    <li class="nav-item"><a class="nav-link" href="page-util-500.html">500 Error</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg width="18px" height="18px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                <path fill-rule="evenodd" d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z"></path>
                                <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z"></path>
                            </svg>
                            <span>방문상담내역</span>
                            <span class="group-icon float-end">
                          <i class="fi fi-arrow-end"></i>
                          <i class="fi fi-arrow-down"></i>
                        </span>
                        </a>

                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span>Sign in</span>
                                    <span class="group-icon float-end">
                              <i class="fi fi-arrow-end"></i>
                              <i class="fi fi-arrow-down"></i>
                            </span>
                                </a>
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link" href="auth-signin-basic.html">Basic</a></li>
                                    <li class="nav-item"><a class="nav-link" href="auth-signin-cover.html">Cover</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span>Sign up</span>
                                    <span class="group-icon float-end">
                              <i class="fi fi-arrow-end"></i>
                              <i class="fi fi-arrow-down"></i>
                            </span>
                                </a>
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link" href="auth-signup-basic.html">Basic</a></li>
                                    <li class="nav-item"><a class="nav-link" href="auth-signup-cover.html">Cover</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span>Reset password</span>
                                    <span class="group-icon float-end">
                              <i class="fi fi-arrow-end"></i>
                              <i class="fi fi-arrow-down"></i>
                            </span>
                                </a>
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link" href="auth-passreset-basic.html">Basic</a></li>
                                    <li class="nav-item"><a class="nav-link" href="auth-passreset-cover.html">Cover</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span>2-step verification</span>
                                    <span class="group-icon float-end">
                              <i class="fi fi-arrow-end"></i>
                              <i class="fi fi-arrow-down"></i>
                            </span>
                                </a>
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link" href="auth-2step-basic.html">Basic</a></li>
                                    <li class="nav-item"><a class="nav-link" href="auth-2step-cover.html">Cover</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-app-indicator" viewBox="0 0 16 16">
                                <path d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z"></path>
                                <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                            </svg>
                            <span>매입/매출 내역서</span>
                            <span class="group-icon float-end">
                          <i class="fi fi-arrow-end"></i>
                          <i class="fi fi-arrow-down"></i>
                        </span>
                        </a>

                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                            <span class="group-icon float-end">
                              <i class="fi fi-arrow-end"></i>
                              <i class="fi fi-arrow-down"></i>
                            </span>
                                    Projects / Tasks
                                </a>
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link" href="app-projects-list.html">Project list</a></li>
                                    <li class="nav-item"><a class="nav-link" href="app-projects-task-list.html">Task list</a></li>
                                    <li class="nav-item"><a class="nav-link" href="app-projects-task-detail.html">Task detail</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="app-file-manager.html">File manager</a></li>
                            <li class="nav-item"><a class="nav-link" href="app-chat.html">Chat</a></li>
                            <li class="nav-item"><a class="nav-link" href="app-kanban.html">Kanban</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg width="18px" height="18px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                <path fill-rule="evenodd" d="M2 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM0 2a2 2 0 0 1 3.937-.5h8.126A2 2 0 1 1 14.5 3.937v8.126a2 2 0 1 1-2.437 2.437H3.937A2 2 0 1 1 1.5 12.063V3.937A2 2 0 0 1 0 2zm2.5 1.937v8.126c.703.18 1.256.734 1.437 1.437h8.126a2.004 2.004 0 0 1 1.437-1.437V3.937A2.004 2.004 0 0 1 12.063 2.5H3.937A2.004 2.004 0 0 1 2.5 3.937zM14 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM2 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
                            </svg>
                            <span>Layouts</span>
                            <span class="group-icon float-end">
                          <i class="fi fi-arrow-end"></i>
                          <i class="fi fi-arrow-down"></i>
                        </span>
                        </a>

                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link" href="layout-dark-header.html">Dark Header</a></li>
                            <li class="nav-item"><a class="nav-link" href="layout-dark-sidebar.html">Dark Sidebar</a></li>
                            <li class="nav-item"><a class="nav-link" href="layout-dark-both.html">Dark Both</a></li>
                            <li class="nav-item mt-2"><a class="nav-link" href="layout-sticky-header.html">Sticky Header</a></li>
                            <li class="nav-item"><a class="nav-link" href="layout-sticky-sidebar.html">Sticky Sidebar</a></li>
                            <li class="nav-item"><a class="nav-link" href="layout-sticky-both.html">Sticky Both</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>

        </div>
        <!-- /sidebar : navigation -->


    </aside>
</div>
