<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="footerFragment">
    <footer id="footer" class="text-black">

<!--         footer cta -->
<!--        <div class="container tet-white py-5 d-lg-flex flex-row align-items-lg-center">-->

<!--            <div class="row g-4 align-items-center">-->
<!--                <h3 class="col-lg-6 h2 mb-0">-->
<!--                    정직한 사인디렉터입니다 무료 상담 받기-->
<!--                </h3>-->
<!--                <div class="col text-lg-end">-->
<!--                    <a href="https://wrapbootstrap.com/theme/smarty-website-admin-rtl-WB02DSN1B" target="_blank" rel="noopener" class="btn btn-warning rounded-pill d-inline-flex align-items-center px-4">-->
<!--                        <span class="text-dark me-2">free counsel</span>-->
<!--                        <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">-->
<!--                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>-->
<!--                        </svg>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--         /footer cta -->

        <!-- line divider -->
        <hr class="bg-gray-500 my-0 container">

        <div class="container py-5">

            <div class="row g-4">

                <div class="col-12 col-lg-4 mb-4">

                    <!-- logo -->
                    <img width="110" height="38" src="/images/custom_logo/sign_director_logo_temp.png" alt="...">

                    <div class="my-4"><!-- copyright -->
                        <p class="small mb-0">© 2022 Design Company.</p>
                        <p class="small mb-0">Sign-Director.</p>
                    </div>


                </div>

                <div class="col-12 col-lg-4 mb-4">

                    <h3 class="small mb-4">Sign Director</h3>

                    <!--<p class="small col-md-12">
                        설비 생상 공정 한번에 한다 우리 매우싸다 이광일이다 박진이다 김상근이다 강민규다 조연제다 이휘연이다 김강현이다 ㅋㅋ
                    </p>-->

                    <div class="small d-flex align-items-start my-3">
                        <svg class="me-3 flex-none my-1" height="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                            <circle cx="12" cy="10" r="3"></circle>
                        </svg>
                        <ul class="list-unstyled p-0 m-0 w-100">
                            <li>인천광역시 미추홀구 주안동 1593-47</li>
                            <li>석바위 시장역 도보 10분</li>
                        </ul>
                    </div>

                    <div class="small d-flex align-items-start my-3">
                        <svg class="me-3 flex-none my-1" height="24px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path>
                        </svg>
                        <ul class="list-unstyled p-0 m-0 w-100">
                            <li>Phone: <a href="tel:010-4396-1171" class="text-dark text-dashed">010-4396-1171</a></li>
                            <li>Email: <a href="mail:tkdrms96@naver.com" class="text-dark text-dashed">tkdrms96@naver.com</a></li>
                        </ul>
                    </div>

                </div>


                <div class="col-12 col-lg-4 mb-4">

                    <h3 class="small mb-4">LEARN MORE</h3>

                    <ul class="list-unstyled">
                        <li class="list-item mb-2">
                            <a class="text-black-400" href="contact-1.html">회사소개</a>
                        </li>
                        <li class="list-item mb-2">
                            <a class="text-black-400" href="about-us-1.html">포트폴리오</a>
                        </li>
                        <li class="list-item mb-2">
                            <a class="text-black-400" href="page-terms-and-conditions.html">견적상담받기</a>
                        </li>
                        <li class="list-item mb-2">
                            <a class="text-black-400" href="page-cookie.html">블로그</a>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

    </footer>

</div>

</body>
</html>